<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza King</title>
    <!-- Favicon  -->
    <link rel="Icon" href="images/pizza-king-favicon.jpg">
    <!-- Stylesheet -->
     <link rel="stylesheet" href="styles/pizza-styles.css">

     <!--Link to JS file -->
     <script src="js/pizza.js" defer></script>
</head>
<body>
    <main>
        <header>
            <img src="images/pizza-king-favicon.jpg" alt="pizza king logo">

            <h1>Pizza King</h1>
            <p id="tagline" >Where you can eat pizza like royalty!</p>
            <hr>
            <p >The land of pizza, where you and your family 
                can eat and live like royalty while being served 
                the best pizza in the kingdom!</p>
            <a id="contact-button" href="#" role="button">Contact Us</a>
        </header>
        <h1>Thank you for your order!</h1>
    </main>
</body>
</html>