<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza King</title>
    <!-- Favicon  -->
    <link rel="Icon" href="images/pizza-king-favicon.jpg">
    <!-- Stylesheet -->
     <link rel="stylesheet" href="styles/pizza-styles.css">

     <!--Link to JS file -->
     <script src="js/pizza.js" defer></script>
</head>
<body>
    <main>
        <header>
            <img src="images/pizza-king-favicon.jpg" alt="pizza king logo">

            <h1>Pizza King</h1>
            <p id="tagline" >Where you can eat pizza like royalty!</p>
            <hr>
            <p >The land of pizza, where you and your family 
                can eat and live like royalty while being served 
                the best pizza in the kingdom!</p>
            <a id="contact-button" href="/contact-us" role="button">Contact Us</a>
        </header>
        <form id="pizza-form" action="submit-order" method="post">
            <!-- Contact Info -->
            <fieldset >
                <legend>Contact Info</legend>
                <label for="Fname"  > First Name:</label>
                <input type="text" id="Fname" name="Fname">
                <span id="err-Fname" class="error" >Missing  First name</span>


                <label for="Lname"  > Last Name:</label>
                <input type="text" id="Lname" name="Lname">

                <span id="err-Lname" class="error" >Missing  Last name</span>


                <label for="Email"  > Email:</label>
                <input type="email" id="Email" name="Email">   

                <span id="err-Email" class="error" >Missing  Email</span>


            </fieldset>
            <fieldset>
                <!-- Pickup or delivery -->
                <legend>Select Pickup or Delivery</legend>
                <label for="pickup" > Pickup
                    <input type="radio" id="pickup" name="method" value="pickup"> </label>
                <label for="delivery"  > Delivery
                    <input type="radio" id="delivery" name="method" value="delivery"> </label>

                <span id="err-Method" class="error" >Missing  Pickup or Delivery </span>

            </fieldset>
            <!-- Toppings -->
            <fieldset>
                <legend>Select Toppings</legend>
                <label for="pepporoni" >
                    <input type="checkbox" id="pepporoni" name="toppings[]" value="pepporoni"> Pepporoni
                </label>

                <label for="blackolives" >
                    <input type="checkbox" id="blackolives" name="toppings[]" value="blackolives"> Black OLives
                </label>

                <label for="mushrooms" >
                    <input type="checkbox" id="mushrooms" name="toppings[]" value="mushrooms"> Mushrooms
                </label>

                <label for="suausage" >
                    <input type="checkbox" id="suausage" name="toppings[]" value="suausage"> Suausage
                </label>
                
            </fieldset>
            <!-- Pizza slice -->
            <fieldset>
                <legend>Pizza Slice</legend>
                <select id="size" name="size">
                    <option value="none">----Select a Size----</option>
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>

                </select>
                <span id="err-size" class="error" >Missing  a Size</span>

            </fieldset>
            <button type="submit" id="order" >Order now</button>

        </form>
    </main>
</body>
</html>